<app-menu></app-menu>
<div><h4 class= text-center>
  <br>
   This Purchase Request System web application was created in the MAX Technical Training's summer 2019 full stack Java bootcamp.<br>
  Over the course of 3-months, each class member created a version of the PRS app using the following technologies:<br><br><br>
  </h4>
</div>
<div class="text-center">
    <img src="../../../assets/github.png" alt="github">
    <img src="../../../assets/mysql.png" alt="mysql">
  <img src="../../../assets/java.jpeg" alt="Java">
  <img src="../../../assets/spring.jpg" alt="Spring" style="padding: 10px"><br>
  <img src="../../../assets/html.png" alt="html">
  <img src="../../../assets/bootstrap.jpg" alt="bootstrap">
  <img src="../../../assets/ts.png" alt="typescript" style="padding: 5px">
  <img src="../../../assets/angularjs-shield.png" alt="Angular">
</div>

